@import "variables";

.overlay {
  background: rgba(0, 0, 0, 0.61);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  left: 0;
}
.popup {
  position: fixed;
  top: 50%;
  width: 25%;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.popup,
form {
  background: #e51b1b;
  padding: 16px;
  font-size: 20px;
  color: #fff;
  height: max-content;
}
form {
  button.secondary-btn:not(:disabled) {
    margin: 0px;
  }
  button:active:focus,
  button:active,
  button:focus,
  input:focus {
    outline: none;
    border: none;
    box-shadow: none !important;
  }
  button:active {
    background: $main-color-dark !important;
  }
}
@media (max-width: 991px) {
  .popup{
    width: 90%
  }
  form {
    width: 100%;
    margin: 16px auto
  }
}
